img { 
  object-fit: cover;
}

main {
  display: none;
  position: fixed;
  background-color: black;
  color: white;
  z-index: 10;
}
nav {
  background-color: #FFFFFF;
}

nav img {
  width: 80px;
  height: 80px;
}

body > .container {
  padding-top: 60px;
}

footer {
  position: fixed;
  z-index: 10;
  background-color: white;
  border: solid;
  width: 100%;

}
#art {
  position: absolute;
  height: auto;
  border: solid;
  background-position: center;
  overflow: hidden;
  background-color: gray;

}

#contact {

}