img { 
  object-fit: cover;
}

nav {
  background-color: #FFFFFF;
}

nav img {
  width: 80px;
  height: 80px;
}

body {
  overflow: scroll;
}

main{
  height: 100%;
  overflow: scroll;
  background-repeat: no-repeat;
}

main img {
/*  position: fixed;
  left: 200px;*/
}

footer {
  z-index: 10;
  background-color: white;
  width: 100%;

}

#about{
  margin: 0;
  display: none;
  background-color: black;
  color: white;
  height: 100%;
}

#art {
  display: none;
  height: auto;
  background-position: center;
  overflow: hidden;
  background-color: gray;

}

#attire {
  display: none;
}

#attire img {
  display: block;
  width: 200px;
  height: 100% ;
}

#contact {
  display: none;
}
