img { 
  object-fit: cover;
}

.white {
  color: white;
}

main {
  display: none;
  position: fixed;
  background-color: black;
  color: white;
  z-index: 10;
}
nav {
  background-color: #FFFFFF;
}

nav img {
  width: 80px;
  height: 80px;
}

#art {
  height: 500px;
  border: solid;
  background-position: center;
  overflow: hidden;
  background-color: gray;
}